html {
  font-family: 'IM Fell English SC', serif;
  background: #fff68f;
}


/* grid */

.grid {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 0.5fr 0.3fr ;
    grid-gap: 10px;
}

.g1 {
  grid-column: 1 / 3;
   grid-row: 1 / 3;
}


.g2 {
  grid-column: 1 / 3;
   grid-row: 3 / 5;
}


.g3 {
  grid-column: 1 / 3;
   grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr ;
  grid-gap: 10px;
}

.ga {
  grid-column: 1 / 2;
   
}


.gb {
  grid-column: 2 / 3;
   
}

.g4 {
  grid-column: 3 / 5;
   grid-row: 1 / 3;
 
}

.g5 {
  grid-column: 3 / 5;
   grid-row: 3 / 5;
}


.button {
width: 125px;
height: 40px;
border-radius: 100px;
border-color: none;
   
background-color: #ffd53d;
}

.button:hover {
  background-color: #8fceff;
  transition: 0.5s;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.s1 {
  background: #8fceff;
  height: 200px;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
}

.t1 {
  font-size: 45px;
}

.t2 {
  font-size: 30px;
  color: #125a91;
}



























/* .ani {

  animation-name: tes;
  animation-duration: 1s;
  animation-iteration-count: 1;
  
}

@keyframes tes {

0% {
  background-color: black;
}

  100% {
  background-color: green;
}
  
} */



